.cursor-pointer {
    cursor: pointer !important;
}

.text-center {
    text-align: center !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.fw-bold {
    font-weight: bold;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}
