<div class="p-sm-0 pt-lg-5">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">

      <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-9">
          <standings></standings>
        </div>
        @if(week() > 0) {
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-3">
          <weekly-match-results [week]="week()" [forceLoading]="true"></weekly-match-results>
        </div>
        }
      </div>

    </div>

    @if(week() >= 4) {
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
      <league-winning-chances></league-winning-chances>
    </div>
    }

  </div>

</div>
